@import 'variables';

.form-input {
    display: grid;
    grid-gap: 6.5px;
    font-family: 'Raleway', sans-serif;

    & > * {
        padding-left: 15px;
    }

    ::placeholder {
        color: $purple;
    }
    
    &__label,
    &__input {
        &:focus {
            outline: none;
            background-color: $tan;

        }
    }
    &__label {
        color: $purple;
        font-size: 20px;


    }
    &__input {
        color: $purple;
        
        box-sizing: border-box;
        height: 55px;
        width: 426px;
        border: 3px inset $yellow;
        border-radius: 50px;
        
        background-color: $peach;
        font-size: 20px;

    }
}

.form-button {

    background-color: $teal;

    &__button {
        font-family: 'Raleway', sans-serif;

        color: $purple;
        font-size: 18px;
        height: 55px;
        width: 243px;
        border-radius: 50px;
        background-color: $peach;
        border: 3px outset $yellow;

        &:focus {
            outline: none;
            // background-color: $tan;
            border: 3px inset $yellow;

        }

        &:hover {
            background-color: $tan;
        }
        
    }
}