@import 'variables';

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
    background-color: $peach;
    border-bottom: 5px groove $peach;
    
    @media screen and (max-width: 700px) {
        justify-content: flex-start;
    }

    &__image-jester {
        height: 160px;

        @media screen and (max-width: 700px) {
            height: 130px;
        }
    }

    &__title {
        &__jokester {
            font-size: 60px;
            font-family: 'Rock Salt', cursive;
 
            @media screen and (max-width: 700px) {
                font-size: 40px;
            }
        }

        &__desription {
            font-size: 18px;
            font-family: 'Raleway', sans-serif;

            transform: translateY(-20px) translateX(18px);
        }
    }
}

.nav-wrapper {
    background-color: $purple;
    border-bottom: 5px groove $purple;

    display: flex;

}

.nav-link-active {
    
}