@import "variables";

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  width: 100%;
  background-color: $yellow;

  @media screen and (max-width: 900px) {
    justify-content: flex-start;
    width: 100vw;
  }

  &__image-jester {
    height: 160px;

    @media screen and (max-width: 900px) {
      height: 130px;
    }
  }

  &__title {
    &__jokester {
      font-size: 60px;
      font-family: "Rock Salt", cursive;

      @media screen and (max-width: 900px) {
        font-size: 40px;
      }
    }

    &__desription {
      font-size: 18px;
      font-family: "Raleway", sans-serif;

      transform: translateY(-20px) translateX(18px);

      @media screen and (max-width: 900px) {
        font-size: 14px;
      }
    }
  }
}

.navbar {
  background-color: $teal;

  border-top: 5px groove $yellow;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-gap: 35px;

  font-size: 26px;
  color: $tan;

  width: 100%;


  @media screen and (max-width: 900px) {
    width: 100vw;
  }

  .nav-link-wrapper {
    transform: translateX(-40px);

    .nav-link-wrapper__link {
      color: $purple;
    }

    .nav-link-active {
      color: $yellow;
    }
  }
}
