@import "variables";

.home__hero {
  display: grid;

  justify-items: center;
  grid-template-columns: [desc-s] 1fr [desc-e]; //rec-s] 1fr [rec-e];
  grid-template-rows: [s] 1fr [e];

  background-color: $purple;

  @media (max-width: 900px) {

    grid-template-rows: [desc-s] 1fr [desc-e];
    grid-template-columns: [s] 1fr [e];
    justify-items: flex-start;
  }

  .home__hero__site-description-wrapper {

    @media (max-width: 900px) {
      grid-column: s/e;
      grid-row: desc-s/desc-e;
      justify-content: start;
      justify-items: start;
      
    }
  }

}
