@import 'variables';

// .layout {
//     display: grid;
//     grid-template-rows: [header-s] .3fr [header-e nav-s] .1fr [nav-e mic-s] .35fr [mic-e cards-s] 1fr [cards-e];
//     grid-template-columns: [s] 1fr [e];

//     @media (max-width: 700px) {

//         grid-template-rows: [header-s] .2fr [header-e nav-s] .05fr [nav-e description-s] .3fr [description-e mic-s] .55fr [mic-e cards-s] 1fr [cards-e];

//     }
// } 


.home__hero {
    display: grid;

    justify-items: center;
    grid-template-columns: [desc-s] 1fr [desc-e rec-s] 1fr [rec-e];
    grid-template-rows: [s] 1fr [e];

   // grid-row: mic-s/mic-e;
    //grid-column: s/e;

    background-color: $teal;

    @media (max-width: 1300px) {
        //grid-row: description-s/mic-e;

        grid-template-rows: [desc-s] 1fr [desc-e mic-s] 1fr [mic-e];
        grid-template-columns: [s] 1fr [e];
    }

    .home__hero__site-description-wrapper {
        // grid-column: desc-s/desc-e;
        // grid-row: s/e;

        // display: grid;
        // justify-items: center;
        // justify-content: center;

        @media (max-width: 1300px) {
            grid-column: s/e;
            grid-row: desc-s/desc-e;
            justify-content: start;
            justify-items: start;
        }
    }

    .home__hero__mic { 
       // display: grid;

        // justify-items: center;
        // justify-content: center;
        // justify-self: center;
        
       // width: 100%;

        // grid-column: rec-s/rec-e;
        // grid-row: s/e;

        @media (max-width: 1300px) {
            grid-row: mic-s/mic-e;
            grid-column: s/e;
            justify-content: start;
            justify-items: start;
        }
    }
}