@import 'variables';

.layout__jokes {
    display: grid;
    justify-items: center;

    background-color: $teal;

    .layout__jokes__data {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        justify-items: center;
        
        overflow-y: scroll;
        height: 500px;
        width: 1530px;
        padding: 50px;
        grid-gap: 20px;

        @media screen and (max-width: 700px) {
            width: 90vw;

            grid-template-columns: repeat(auto-fill, minmax(260px, 265px));

        }

        .cards{
            display: grid;
            grid-template-rows: [s] 1fr  [m] 1fr [e];

            &__front {
                font-size: 16px;

                height: 260px;
                width: 240px;
                padding: 5px;
                border: 7px outset $yellow;

                color: $purple;
                background-color: $peach;

                display: grid;
                font-family: 'Raleway', sans-serif;
                text-align: center;
                align-items: center;
                justify-items: center;

                &__title {
                    font-size: 20px;
                }

                &__jester {
                    height: 125px;

                    grid-row:  m/e;
                    justify-self: center;
                }

                &__jokester {
                    font-family: 'Rock Salt', cursive;
                }
            }
            
            &__back {
                font-size: 16px;
                color: $purple;
                background-color: $peach;

                display: grid;
                align-items: center;

                font-family: 'Raleway', sans-serif;

                height: 260px;
                width: 240px;
                padding: 5px;

                border: 7px inset $yellow;
                
                &__content__jester {
                    height: 125px;
                    grid-row:  m/e;
                    justify-self: center;
                }
            }
        }
    }
}


