.logout {
  background-color: $purple;
  height: 100vh;

  grid-row: content-s/content-e;
  grid-column: s/e;

  display: grid;
  grid-template-columns: [s] 1fr [e];
  grid-template-rows: [top-s].2fr[top-e bottom-s] 1fr [bottom-e];

  @media screen and (max-width: 1200px) {
    width: 100%;
  }

  &__page-title-wrapper {
    padding-left: 200px;
    padding-right: 200px;
    &__page-title {
      padding-left: 150px;
      @media screen and (max-width: 1200px) {
        padding-left: 50px;
      }
    }

    @media screen and (max-width: 1200px) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  &__button-wrapper {
    padding-left: 400px;
    @media screen and (max-width: 1200px) {
      padding-left: 50px;
    }
    &__button {
      font-family: "Raleway", sans-serif;

      color: $purple;
      font-size: 18px;
      height: 55px;
      width: 243px;
      border-radius: 50px;
      background-color: $yellow;
      border: 3px outset $teal;

      &:focus {
        outline: none;
        border: 3px inset $yellow;
      }

      &:hover {
        background-color: $tan;
      }
    }
  }
}
