html {
  font-size: 62.5%; // 1rem is 10px
}

@import "variables";

body {
  overflow-x: auto;
  font-weight: normal;

  background-color: $purple;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0px;

  box-sizing: inherit;
}

@import "variables";
@import "layout";
@import "headernavbar";
@import "jokes";
@import "site-description";
@import "loading";
@import "cards";
@import "hero";
@import "sign-in";
@import "sign-up";
@import "page-title";
@import "form-fields";
@import "profile";
@import "logout";

.Toastify__toast--success {
  color: $purple;
  background: $teal;
}
